.right-sidebar, .side-main {
  display: block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.side-main {
  height: 300px;
}

.right-sidebar .widget {
  margin-top: 30px;
  padding: 0 0 15px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e1e1e4;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}

.right-sidebar .widget:first-child {
  margin-top: 0;
  padding-bottom: 0;
}

.right-sidebar .widget h5 {
  color: #fff;
  background: #000000;
  margin: 0;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;

  border-radius: 5px 5px 0 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  word-wrap: break-word;
}

.right-sidebar input[type="search"] {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  right: 0px;
  height: 44px;
  padding: 13px 20px;
  border: 1px solid #e1e1e4;
  //border-right: 0;
  border-radius: 5px;
  color: #757575;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  vertical-align: top;
  position: absolute;
}

#search-demo-container {
  padding: 15px;
}

.search-wrapper {
  width: 100%;
  height: 40px;
  position: relative;
}

.widget ul {
  margin: 0;
  padding: 15px;
  text-align: left;
  list-style: none;
}

.widget ul li {
  font-size: 14px;
  list-style: none;
  border-bottom: 1px dotted #e9e9e9;
  padding-bottom: 7.5px;
}

@media (min-width: 768px) {
  .right-sidebar {
    width: 100%;
    float: left;
  }
}
@media (min-width: 992px) {
  .right-sidebar {
    width: 33.33333333%;
    float: left;
  }
}
