.site {
    background: var(--color-bg-primary);
}
// header
.layout-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 64px;
    z-index: 1000;
    border-bottom: 1px solid var(--color-line);
}
.layout-header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-column.left .logo {
    color: var(--color-text-link-secondary);
}
.header-column.right a {
    font-size: 11px;
}
.svg-icon-fill {
    color: var(--color-font-primary);
    fill: currentColor;
    stroke: none;
    transition: none;
}
.svg-icon {
    display: block;
    height: 18px;
    width: auto;
    padding: 2.5px;
}
// content
.site-content {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: calc(100vh - 100px - 100px);
}
.site-content .row {
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container::after, .site-content .row::after {
    content: '';
    display: block;
    clear: both;
}
.site-header {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.pagination {
    padding: 0 33px;
    display: flex;
    justify-content: space-around;
}

.pagination .pages {
    color: var(--color-text-link-secondary);
}

.site-footer {
    margin: 0 auto;
    min-height: 100px;
}

.site-footer .container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

.site-footer .footer-flex {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color-line);
}

.footer-flex .footer-column.center {
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .site-main {
        width: 100%;
        float: left;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .site-main {
        width: 66.66666667%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .site-main {
        width: 66.66666667%;
        float: left;
    }
}
