.post-section {
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--color-bg-secondary);
  box-shadow: 0 0 5px 0 rgba(1,1,1,0.1);
  padding: 15px;
}
.post-section::after {
  content: '';
  display: block;
  clear: both;
}
.post-section h1 {
  margin: 0 0 15px 0;
  color: var(--color-text-link-primary);
}
.post-section h1:hover {
  text-decoration: underline;
}
.post-section h2 {
  margin: 0 0 15px 0;
  color: var(--color-text-link-secondary);
}


.post-info {
  font: 400 14px "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.1;
  padding: 15px 0;
  border-top: 1px dotted var(--color-dotted);
  border-bottom: 1px dotted var(--color-dotted);
  margin-bottom: 15px;
}

.post-detail p{
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--color-text-primary);
}

.post-detail .more-link {
  float: right;
  display: block;
  text-align: center;
  line-height: 1.5;
  position: relative;
  padding: 7.5px 15px;
  border: 1px solid var(--color-border-primary);
  border-radius: 2px;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
  font: 400 14px "Lato", Arial, Helvetica, sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
}